<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
      <add name="dev" connectionString="Server=AEAXPC\SQLSERVER;Database=alscript;Trusted_Connection=true"/>
    </connectionStrings>
	<appSettings>
		<add key="sintax" value="D:\Documents\Programacion\C#\ALscript-1.0\Interfaz\Externos\"/>
	</appSettings>
</configuration>
